@import '../../App.scss';

.admin-users-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .admin-users-emails{
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        ul{
            list-style-type: none; /* Remove bullets */

            li{
                display: flex;

                p{
                    font-weight: bold;
                }

                input{
                    background-color: aqua;
                }

            }

        }

    }

    .admin-users-send-emails{
        flex: 1;
        background-color: aqua;
        height: 100%;
        width: 100%;
        
    }
   

}